In [35]:
import pandas as pd

df = pd.read_csv("upccig.csv", encoding='latin-1')
df2= pd.read_csv("wcig.csv", encoding='latin-1')
df.head

/var/folders/n4/wdz2gxc13wl6m46by5g242kh0000gn/T/ipykernel_16391/701715325.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df2= pd.read_csv("wcig.csv", encoding='latin-1')

<bound method NDFrame.head of      COM_CODE         UPC               DESCRIP   SIZE  CASE  NITEM
0         700         190  KING CARTON CIGS (PL   1 CT     1  86040
1         700         191  100'S CARTON CIGS (P   1 CT     1  86060
2         705         193  25 CT SINGLE PACK CI   1 CT     8  80080
3         705         194        GENERIC SINGLE   1 CT    10  80020
4         700         195  KING CARTON PRICE VA   1 CT     1  86050
..        ...         ...                   ...    ...   ...    ...
937       700  8030071013           KING CARTON  10 PK     1  86000
938       700  8030084613  SUB GENERIC KING CAR  10 CT     1  86030
939       705  8030084699  CIGARETTES (SINGLE P   1 CT     1  86110
940       705  8640912345         PARODI AMEZZA   5 EA    20  88700
941       705  8640912356          PARODI KINGS   5 EA    10  88710

[942 rows x 6 columns]>

In [7]:
df2.head

<bound method NDFrame.head of          STORE         UPC  WEEK  MOVE  QTY  PRICE SALE  PROFIT  OK  \
0            8         190   194     0    1   0.00  NaN    0.00   1
1            8         190   195     2    1  21.51  NaN   50.49   1
2            8         190   196     0    1   0.00  NaN    0.00   1
3            8         190   197     0    1   0.00  NaN    0.00   1
4            8         190   198     0    1   0.00  NaN    0.00   1
...        ...         ...   ...   ...  ...    ...  ...     ...  ..
5398192    139  8640912356   388     0    1   0.00  NaN    0.00   1
5398193    139  8640912356   391     0    1   0.00  NaN    0.00   1
5398194    139  8640912356   392     2    1   1.69  NaN    1.42   1
5398195    139  8640912356   393     2    1   1.69  NaN    1.42   1
5398196    139  8640912356   394     0    1   0.00  NaN    0.00   1

                PRICE_HEX        PROFIT_HEX
0        0000000000000000  0000000000000000
1        4035828F5C28F5C3  40493EB851EB851F
2        0000000000000000  0000000000000000
3        0000000000000000  0000000000000000
4        0000000000000000  0000000000000000
...                   ...               ...
5398192  0000000000000000  0000000000000000
5398193  0000000000000000  0000000000000000
5398194  3FFB0A3D70A3D70A  3FF6B851EB851EB8
5398195  3FFB0A3D70A3D70A  3FF6B851EB851EB8
5398196  0000000000000000  0000000000000000

[5398197 rows x 11 columns]>

In [36]:
merged_data = pd.merge(df, df2, on='UPC', how='inner')

merged_data.to_csv('merged_product_data.csv', index=False)

In [37]:
merged_data.head(20)

,COM_CODE,UPC,DESCRIP,SIZE,CASE,NITEM,STORE,WEEK,MOVE,QTY,PRICE,SALE,PROFIT,OK,PRICE_HEX,PROFIT_HEX
0,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,194,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
1,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,195,2,1,21.510,NaN,50.490,1,4035828F5C28F5C3,40493EB851EB851F
2,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,196,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
3,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,197,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
4,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,198,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
5,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,199,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
6,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,200,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
7,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,201,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
8,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,202,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
9,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,203,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
10,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,204,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
11,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,205,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
12,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,206,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
13,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,207,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
14,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,208,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
15,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,209,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
16,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,210,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
17,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,211,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
18,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,212,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
19,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,213,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000

In [38]:
price_statistics = merged_data['PRICE'].describe()
print(price_statistics)

count   5398197.000
mean          2.589
std           5.875
min           0.000
25%           0.000
50%           0.000
75%           2.350
max         250.000
Name: PRICE, dtype: float64

In [39]:
"""Here I am creating a function that does the filtering"""
def clean_dataset(data_frame): 
    # Filtering the DataFrame for rows where 'move' is greater than 0 so we only get the sold items
    filtered = data_frame[data_frame['MOVE'] > 0]
    # Filtering the Dataframe for rows where "okay" is equal to 1 so we only get weeks in which the data is not suspect
    filtered = data_frame[data_frame['OK'] == 1]
    return filtered

merged_data=clean_dataset(merged_data)
merged_data.head(20)

,COM_CODE,UPC,DESCRIP,SIZE,CASE,NITEM,STORE,WEEK,MOVE,QTY,PRICE,SALE,PROFIT,OK,PRICE_HEX,PROFIT_HEX
0,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,194,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
1,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,195,2,1,21.510,NaN,50.490,1,4035828F5C28F5C3,40493EB851EB851F
2,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,196,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
3,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,197,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
4,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,198,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
5,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,199,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
6,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,200,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
7,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,201,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
8,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,202,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
9,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,203,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
10,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,204,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
11,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,205,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
12,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,206,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
13,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,207,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
14,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,208,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
15,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,209,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
16,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,210,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
17,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,211,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
18,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,212,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000
19,700,190,KING CARTON CIGS (PL,1 CT,1,86040,8,213,0,1,0.000,NaN,0.000,1,0000000000000000,0000000000000000

In [40]:
price_statistics = merged_data['PRICE'].describe()
print(price_statistics)

count   5331369.000
mean          2.600
std           5.883
min           0.000
25%           0.000
50%           0.000
75%           2.360
max         250.000
Name: PRICE, dtype: float64

In [41]:
"""This is a function I created for giving me the missing information for the data set"""

def calculate_missing_info(df):
    def calculate_percentage_with_missing(df, num_missing):
        total_rows = len(df)
        rows_with_missing = (df.isnull().sum(axis=1) == num_missing).sum()
        percentage_missing = (rows_with_missing / total_rows) * 100
        return rows_with_missing, percentage_missing

    total_rows = len(df)
    total_columns = df.shape[1]

    # Calculate the percentage of missing values in each column
    percentage_missing = (df.isnull().mean() * 100).round(2)

    missing_info = {
        "total_rows": total_rows,
        "total_columns": total_columns,
        "column_missing_percentages": percentage_missing
    }

    for num_missing in range(0, 5):
        rows_with_missing, percentage_missing = calculate_percentage_with_missing(df, num_missing)
        missing_info[f"rows_with_{num_missing}_missing"] = rows_with_missing
        missing_info[f"percentage_{num_missing}_missing"] = percentage_missing

    return missing_info

calculate_missing_info(merged_data)

{'total_rows': 5331369,
 'total_columns': 16,
 'column_missing_percentages': COM_CODE       0.000
 UPC            0.000
 DESCRIP        0.000
 SIZE           0.000
 CASE           0.000
 NITEM          0.000
 STORE          0.000
 WEEK           0.000
 MOVE           0.000
 QTY            0.000
 PRICE          0.000
 SALE         100.000
 PROFIT         0.000
 OK             0.000
 PRICE_HEX      0.000
 PROFIT_HEX     0.000
 dtype: float64,
 'rows_with_0_missing': 21,
 'percentage_0_missing': 0.0003938950764803562,
 'rows_with_1_missing': 5331348,
 'percentage_1_missing': 99.99960610492352,
 'rows_with_2_missing': 0,
 'percentage_2_missing': 0.0,
 'rows_with_3_missing': 0,
 'percentage_3_missing': 0.0,
 'rows_with_4_missing': 0,
 'percentage_4_missing': 0.0}

In [42]:
"""This is a function that gives the overall statistics for the data set (more than describe) to detect outliers (for e.g. profit negative?)"""
import statistics
import pandas as pd
import numpy as np

def calculate_column_statistics(df):
    # Filter columns with numeric (int or float) data types
    numeric_columns = df.select_dtypes(include=['int', 'float']).columns

    # Create a dictionary to store statistics
    stats_dict = {
        'Variable': [],
        'Mean': [],
        'Mode': [],
        'Median': [],
        'Standard Deviation': [],
        'Minimum': [],
        'Maximum': [],
        'Count': [],
        'IQR': [],
        'Skewness': [],
        'Range': []
    }

    for column in numeric_columns:
        stats_dict['Variable'].append(column)
        mean = df[column].mean()
        try:
            mode = statistics.mode(df[column].dropna())  # Handle potential multiple modes
        except statistics.StatisticsError:
            mode = None  # For columns with no mode
        median = df[column].median()
        std_dev = df[column].std()
        min_val = df[column].min()
        max_val = df[column].max()
        count = df[column].count()
        iqr = np.percentile(df[column].dropna(), 75) - np.percentile(df[column].dropna(), 25)
        skew = df[column].skew()
        column_range = max_val - min_val

        stats_dict['Mean'].append(mean)
        stats_dict['Mode'].append(mode)
        stats_dict['Median'].append(median)
        stats_dict['Standard Deviation'].append(std_dev)
        stats_dict['Minimum'].append(min_val)
        stats_dict['Maximum'].append(max_val)
        stats_dict['Count'].append(count)
        stats_dict['IQR'].append(iqr)
        stats_dict['Skewness'].append(skew)
        stats_dict['Range'].append(column_range)

    # Create a DataFrame from the dictionary
    stats_df = pd.DataFrame(stats_dict)

    # Set display options to show floats in fixed format with 3 decimal places
    pd.set_option('display.float_format', '{:.3f}'.format)

    return stats_df

# Assuming 'your_dataframe' is your DataFrame
calculate_column_statistics(merged_data)

,Variable,Mean,Mode,Median,Standard Deviation,Minimum,Maximum,Count,IQR,Skewness,Range
0,COM_CODE,702.641,705.000,705.000,2.496,700.000,705.000,5331369,5.000,-0.113,5.000
1,UPC,1769966536.855,2610000307.000,1230015513.000,848085932.683,190.000,8640912356.000,5331369,1380000295.000,1.669,8640912166.000
2,CASE,4.292,1.000,1.000,4.323,1.000,20.000,5331369,9.000,0.555,19.000
3,NITEM,85551.577,86120.000,86120.000,1812.422,80010.000,91460.000,5331369,200.000,-2.678,11450.000
4,STORE,83.651,122.000,90.000,37.299,2.000,146.000,5331369,61.000,-0.459,144.000
5,WEEK,228.803,250.000,237.000,107.046,1.000,399.000,5331369,182.000,-0.203,398.000
6,MOVE,2.900,0.000,0.000,42.031,0.000,3059.000,5331369,1.000,32.972,3059.000
7,QTY,1.000,1.000,1.000,0.000,1.000,1.000,5331369,0.000,0.000,0.000
8,PRICE,2.600,0.000,0.000,5.883,0.000,250.000,5331369,2.360,2.829,250.000
9,PROFIT,14.719,0.000,0.000,22.646,-98.790,98.820,5331369,33.130,1.221,197.610
10,OK,1.000,1.000,1.000,0.000,1.000,1.000,5331369,0.000,0.000,0.000

In [48]:
"""Counts the number of unique values in a column. In this case, we want to know SALE"""

def count_categorical_occurrences_with_none(dataframe, column_name):
    occurrences_count = dataframe[column_name].isnull().sum()
    unique_occurrences = dataframe[column_name].value_counts().to_dict()
    unique_occurrences[None] = occurrences_count
    return unique_occurrences

count_categorical_occurrences_with_none(merged_data, 'SALE')

{'S': 21, None: 5331348}